.wrapper {
    // căn container ra giữa
    display: flex;
    flex-direction: column; //quay sang chiều dọc
    align-items: center; //căn giữa
}

.container {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    min-height: 1000px; //có thể xóa đang để demo
    // background-color: #333; //lúc đầu để test có thể xóa
    display: flex;
}

.content {
    flex: 1; //chiếm hết khoảng không còn lại
    background-color: lightblue; //có thể xóa đang để demo
    min-height: 1000px; //có thể xóa đang để demo
}
