// File: index.js
// Menu wrapper
.menu-list {
    width: 224px;

    // File: MenuItem.js
    // Menu items | Cho vào trong này (trong 1 cấp nữa) để đc ưu tiên hơn
    .menu-item {
        margin-left: 0;
    }
}

// custom của PopperWrapper
.menu-popper {
    padding-bottom: 8px;
}

// File: MenuItem.js
// Menu items
.menu-item {
    width: 100%; //cho btn tràn ra hết menu
    // căn lên đầu => vì mặc định đã có căn giữa
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    // thêm line-height fix chiều cao k cân đối giữa các menu-item
    line-height: 1.8rem;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header.js
.header {
    position: relative;
    height: 50px;

    // fix padding-top mặc định của menu là 8px => thêm margin âm
    margin-top: -8px;
}

.back-btn {
    height: 100%;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    // căn giữa
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
