/* PC */
@media (min-width: 64em)  /*1024px -> 64em*/
{
   
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) /*1023px -> 63.9375em*/
{
    /* tang kich thuoc btn len 46 */
    .btn
    {
        padding: 15px 16px;
        font-size: 16px;
    }

    /* tang kich thuoc subnav (them padding tren duoi) */
    #nav .subnav a
    {
        padding: 5px 12px;
    }


    /* form input */
    .contact-form .form-control
    {
        padding: 15px;
        font-size: 16px;
    }

    /* contact info (sdt, email) */
    .contact-info
    {
        line-height: 2; /*line-height: 1.5; -> line-height: 2; (tăng giá trị sau dấu . vd(1.5)  giữ phím alt)*/
    }

    /* footer */
    #footer .socials-list
    {
        /* font-size: 48px; */ /* vì để chung trên đt hiển thị quá to nên nên đang để riêng trong tablet */
    }

    #footer .socials-list a 
    {
        margin: 0 8px;
    }

    #footer .copyright a
    {
        padding: 13px 0;
        display: inline-block; /* đẩy xuống hàng dưới */
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) /* 740px -> 46.25em & 1023px -> 63.9375em */
{
    /* footer */
    #footer .socials-list
    {
        font-size: 48px;
    }
}



/*
phan biet ten class (s, m, l)
size small (mobile), medium (tablet), large(pc)

nút bấm trên tablet & mobile => 48px (dễ thao tác)


+ su dung don vi 'em' cho Media queries 
web chuyen doi 'px' -> 'em'     
-> https://www.w3schools.com/tags/ref_pxtoemconversion.asp
*/


/* Mobile */
@media (max-width: 46.1875em) /* 739px -> 46.1875em */
{
    /* size s chi dung cho mobile */
    .s-full-width,
    .s-col-full
    {
        width: 100% !important;
    }

    .s-mt-8
    {
        margin-top: 8px !important;
    }


    #header
    {
        overflow: hidden; /*overflow: visible; -> overflow: hidden;*/ /* ẩn các thuộc tính thừa ra khỏi thẻ cha */
    }

    /* btn mobile menu */
    #header .mobile-menu-btn
    {
        display: block;
    }

    /* btn search */
    #header .search-btn
    {
        /* ẩn button search */
        display: none;
    }

    /* nav (chuyen display: inline-block; -> display: block;)*/
    #nav
    {
        display: block;
    }

    #nav .subnav
    {
        position: initial; /*reset ve gia tri mac dinh cau position*/
        background-color: #333;
    }

    #nav .subnav a
    {
        color: #fff;
        padding: 5px calc(25px + 16px); /*tang padding top, bot len tren mobile de su dung, toi dieu do cao tổng 42-48*/
    }

    #nav li a
    {
        /*tang padding top, bot len tren mobile de su dung, toi dieu do cao tổng 42-48*/
        padding: 1px 24px;
    }


    /* header, nav */
    #nav > li
    {
        display: block; /* display: inline-block -> display: block; (chuyển từ hàng ngang -> dọc ) */
    }

    /*  lấy ra thẻ con đầu tiên của #nav > li và set từ  (display: block; - > display: inline-block;)*/
    #nav > li:first-child
    {
        display: inline-block;
    }

    /* chinh img */
    #content .member-img
    {
        width: 60%;
    }

    /* chinh form phan content  */
    .contact-form
    {
        margin-top: 32px; /* margin-top: 16px; ->  margin-top: 32px;*/
    }

    /* chinh btn 'send' */
    .contact-submit-btn
    {
        font-size: 16px;
        /* color: yellow; */
    }

    /* footer */
    #footer .socials-list
    {
        font-size: 32px; /*set rieng cho dt ( tự thêm k có trong bài )*/
    }

}