// Header
.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px; //khoảng cách bên trên

    width: 100%;
    height: var(
        --default-layout-header-height,
        60px
    ); //truyền biến để sau dễ đổi => ít trùng lặp | nếu k có biến => lấy 60px
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    // background-color: #ccc; //có thể tắt lúc đầu test

    // căn giữa logo (trên, dưới) -> căn giữa ở inner -> chiều cao của logo nhỏ
    display: flex;
    align-items: center;

    // căn giữa logo, search, actions (ngang)
    justify-content: space-between;
}

.logo {
}

.search {
    position: relative;
    display: flex;
    width: 361px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    // padding: 0 16px; //chir cho padding bên trái
    padding-left: 16px;

    // input
    input {
        flex: 1; // cho input tràn ra
        // padding: 12px 0; //case 1 - cho input to hơn
        height: 100%; //case 2 - cho input to hơn
        font-size: 1.6rem;
        color: #161823; //video: #828282 / var(--black)
        background-color: transparent; //transparent trong suốt
    }

    // after
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px; //right = width: 52px; trong search-btn
        height: calc(var(--search-height) - var(--search-top-spacer) * 2); //46px - (9px * 2) => spacer
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    // :focus-within
    // Link: https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-within

    &:focus-within {
        // khi input đc focus -> code trong này đc active
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear {
}

.loading {
}

.search-btn {
    width: 52px;
    height: 100%;

    // border-radius cho btn | top/bottom
    // border-radius: top-left top-right bottom-right bottom-left;
    border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
    // border: 2px solid #000; //for checking

    // set cho icon
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    // hover
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
