//SuggestedAccounts.js
.wrapper {
    border-top: 1px solid #1618231f; //màu copy từ tiktok
    // border-top: 1px solid #e3e3e4; //màu copy từ video => same
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
}

.more-btn {
    color: #fe2c55;
    padding: 8px;
    font-size: 1.4ren;
    font-weight: 700;
    cursor: pointer;
}

//AccountItem.js
.account-item {
    display: flex; //cho tên ngang lên vs ảnh
    padding: 8px;
    cursor: pointer;

    // hover
    &:hover {
        background-color: #16182308;
    }

    // active
    &:active {
        background-color: #1618230f;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    font: 1px; //nếu content ngắn => tự động tràn ra hết phần còn lại
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1; //theo tỷ lệ
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
    // opacity: #161823bf;
}
