//import lib
@import 'normalize.css';

/** Phần này tạm bỏ vì đã nhúng fonts bên dưới
// fonts.google //case 1
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
//case 2
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
*/

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    // Default Font
    --font-family: 'ProximaNova', sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /** tạm bỏ vì bên dưới đã nhúng font
    // font 1
    font-family: 'Open Sans', sans-serif;
    // font 2
    font-family: 'Proxima Nova', sans-serif;
    */

    font-family: var(--font-family); //font từ folder fonts
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// loại bỏ outerline & border, của btn, input và bất cứ thẻ nào có tabindex
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

//reset color của thẻ a
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts emmbeded
// Regular
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

//Semibold
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

// Bold
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

// SofiaPro - Bold
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

// Custom Tippy Tooltip
body {
    // arrow
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    // tippy-box
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    //tippy-content
    .tippy-content {
        padding: 8px 9px;
    }
}
