.grid {
    width: 100%;
    display: block;
    /* reset padding */
    padding: 0;
    border: 1px solid #000;
}

.grid.wide {
    /* class này chỉ dùng cho grid */
    max-width: 1200px;
    margin: 0 auto; /*căn giữa*/
}

/* Tablet => PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
}
