/* PC */
@media (min-width: 1024px)
{
   
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px)
{
    
}

/* Mobile */
@media (max-width: 740px)
{
    /* nav (chuyen display: inline-block; -> display: block;)*/
    #nav
    {
        display: block;
    }

    /* header, nav */
    #nav > li
    {
        display: block; /* display: inline-block -> display: block; (chuyển từ hàng ngang -> dọc ) */
    }

    /*  lấy ra thẻ con đầu tiên của #nav > li và set từ  (display: block; - > display: inline-block;)*/
    #nav > li:first-child
    {
        display: inline-block;
    }

    /* btn mobile menu */
    #header .mobile-menu-btn
    {
        display: block;
    }

    /* btn search */
    #header .search-btn
    {
        /* ẩn button search */
        display: none;
    }

}