/* Mobile & Tablet */
@media (max-width: 1023px) {
    /* Hide Mobile, Tablet*/
    .hide-on-mobile-tablet {
        display: none;
    }

    /* Header, navbar */
    /* Vì khi ở tablet, mobile: navbar bị ẩn => cần override lại  */
    :root {
        --header-height: 68px; /*cho header nhỏ lại: 120px => 68px*/
        --navbar-height: 0px; /* phải là 0px */
    }

    /* header */
    .header {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
    }

    /* app container */
    .app__container {
        margin-top: var(--header-height); /* margin-top = header để nó ở dưới header*/
    }

    /* Cart display */
    .header__cart-list {
        position: fixed;
        top: var(--header-height); /* top = header để nó ở dưới header*/
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2); /*Áp dụng*/
        /* 100% - (Khoảng cách muốn hiển thị ở giữa) = phần lề 2 bên / 2 => đc padding 2 bên */
    }

    /* hidden arrow */
    .header__cart-list::after {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* Hide Tablet*/
    .hide-on-tablet {
        display: none;
    }

    /* Cart */
    .header__cart {
        width: 75px;
        text-align: right;
    }

    /* Cart list item */
    .header__cart-list-item {
        max-height: 35vh;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* Hide Mobile*/
    .hide-on-mobile {
        display: none;
    }
}
