<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button class='btn btn-primary'>HỌC NGAY</button>
        </div>
        <div class='col-lg-9'>
            <h2>HELLOCAUGIDANNGIUOI</h2>
            <iframe
                width='900'
                height='550'
                src='https://www.youtube.com/embed/IKWuL2mDqgg'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
            <p>abcd</p>
        </div>
    </div>
</div>