// Sidebar
.wrapper {
    width: 356px;
    // min-height: 100px; //bỏ đc lúc đầu để test
    // background-color: rgb(138, 136, 136); //bỏ đc lúc đầu để test
    padding: 20px 0 26px 8px; //top, right, bottom, right
    margin-left: -18px; //thêm margin âm để cho icon thẳng = logo tiktok
}
