:root {
    --primary-color: #ee4d2d;
    --primary-color-alpha: #ee4d2d14; /* rgba(238, 77, 45, 0.08) | alpha = 00.8 | https://rgbacolorpicker.com/rgba-to-hex */
    --white-color: #fff;
    --black-color: #000;
    --orange-color: #ff7337;
    --gray40-color: #666; /* dark gray*/
    --gray60-color: #999; /* light gray*/
    --gray97-color: #f7f7f7; /* lighter gray :)*/
    --text-color: #333;
    --border-color: #dbdbdb;
    --border-focus-color: #888;
    --separate-color: #eaeaea;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    /* --primary-gradient-color: linear-gradient(0, #, #); */
}

* {
    box-sizing: inherit; /* inherit: kế thừa từ thẻ chứa nó */
}

html {
    /* font-size: 100%; //100% => 16px | 1rem = 16px */

    /* Dùng tricks để chuyểm px => rem dễ hơn   */
    font-size: 62.5%; /* 62.5% => 10px | 1rem = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input,
button {
    outline: none;
    border: none;
}

/* Created grid cho về sau làm responsive */
.grid {
    width: 1200px; /* Màn hình có kích thước > 1200 => tối đa chỉ 1200px */
    max-width: 100%; /* Với màn hình kích thước < 1200px => tự giảm = kích thước màn hình < 1200px */
    margin: 0 auto; /* căn giữa */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    /* Cho item nằm trên cùng 1 hàng ngang vs tự xuống dòng */
    display: flex;
    flex-wrap: wrap;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: #f0f0f0;
}

/* css 2 or n class '.' liền nhau => yêu câu element phải có 2 class đó thì với đc apply */
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
    border-radius: 3px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.3s;
    will-change: opacity;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /*START: Giá trị tạm thời */
    /* width: 500px; */
    /* height: 500px; */
    /* background-color: var(--white-color); */
    /* border-radius: 5px; */
    /*END: Giá trị tạm thời */

    --growth-from: 0.6;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 3;
    animation: growth linear 0.2s;
    will-change: transform;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
