.header {
    height: 120px;
    background-image: linear-gradient(0, var(--primary-color), var(--orange-color));
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    /* default: ul => padding-left: 40px  => reset */
    padding-left: 0;
    margin-top: 4px;
}

.navbar__list-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.list__item-link {
}

/* Modifier #2 */
.navbar__list-item--has-qr:hover .navbar__qr {
    /* '.navbar__list-item--has-qr:hover .navbar__qr':  'navbar__list-item--has-qr:hover' đc hover => thay đổi 'navbar__qr'*/
    display: block;
}

.navbar__list-item--has-notify:hover .list__notify {
    display: block;
}

.navbar__list-item,
.list__item-link {
    display: inline-block; /* cho nằm lên trên 1 hàng & giữ nguyên tính chất khối */
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.navbar__list-item:hover,
.list__item-link :hover,
.list-item__icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__list-item,
.list__item-link,
.list-item__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__list-icon {
    color: var(--white-color);
}

.navbar__list-icon-link {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* Modifier #1 */
.navbar__list-item--strong {
    font-weight: 400;
}

.navbar__list-item--separate::after {
    content: '';
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    top: 50%; /* căn chiều dọc ra giữa: giống align-items: center */
    transform: translateY(-50%); /* căn chiều dọc ra giữa: giống align-items: center */
    right: -9px; /* div cha '.navbar__list-item' có margin: 2 bên 8xp => 16px => lấy -8px là căn giữa, nhưng vì nhìn k đều => lấy -9px */
}

.navbar-title--no-pointer {
    color: var(--white-color);
    cursor: text;
}

/* Header QR Code */
.navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 16px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.navbar__qr::before {
    /* Làm cấu nối giữa <li> vs qr code */
    position: absolute;
    content: '';
    width: 100%;
    display: block;
    /* background-color: blue; */
    height: 20px;
    top: -16px;
    left: 0;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    /* margin: 0 2px; //có thể dùng ntn luôn hoặc dùng 'first-child, nth-child(2)' // recommended cách này hơn*/
}

/* hoặc làm ntn để select từng element */
.navbar__qr-link:first-child {
    margin-left: 2px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 2px;
}

.navbar__qr-download-img {
    height: 15px;
}

/* Header notification */
.list__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(90% - 20px) top; /* Tính toán luôn để sau có thay đổi width vẫn giữ nguyên vị trí*/
    animation: headerNotifyGrowth ease-in 0.2s;
    /* animation cho các loại browser: webkit, microsoft, opera-mini, firefox */
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /* tối ưu cho animation */
    display: none;
}

.list__notify::before {
    content: '';
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent;
    border-bottom-color: var(--white-color);
    position: absolute;
    top: -30px;
    right: 0;
}

.list__notify::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 30px;
    display: block;
    top: -28px;
    right: 0;
    /* background-color: black; */
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.list__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.list__notify-header h3 {
    color: var(--gray60-color);
    margin: 0 0 0 12px; /* left */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px; /* cho = chiều cao cao của element cha 'list__notify-header' => 40px */
    user-select: none;
}

.list__notify-list {
    padding-left: 0; /* default ul */
}

.list__notify-item {
    display: flex;
}

.list__notify-item:hover {
    background-color: var(--gray97-color);
}

.list__notify-item--viewed {
    background-color: var(--primary-color-alpha);
}

.list__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
}

.list__notify-img {
    width: 48px;
    object-fit: contain;
}

.list__notify-info {
    margin-left: 12px;
}

.list__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.list__notify-desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--gray60-color);
    margin-top: 4px;
}

.list__notify-footer {
    display: flex;
}

.list__notify-footer-btn {
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
