/* Thay vì sửa vào file App.css => tôi sửa nó ở đây */

.dark{
    /* color: #ccc;
    background-color: #333; */

    /* Neon text */
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(11, 15, 14),
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    background-color: #010a01;
    padding: 20px;
}

.light{
    padding: 20px;
}

body{
    font-size: 18px;
    font-family: "Vibur", sans-serif;
}
